#cookie-notice-wrap {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
}

.cookie-notice {
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 12px;
  line-height: 1.4;
  padding-top: 1em;
  padding-bottom: 1em;
}

.cookie-notice span {
  display: block;
}

.cookie-notice .header {
  font-weight: 700;
}

.cookie-notice .content-wrap {
  position: relative;
}

.cookie-notice .content {
  margin-right: 5em;
}

html.no-touch .cookie-notice a:hover {
  color: white;
  -webkit-text-decoration: dotted;
          text-decoration: dotted;
}

.cookie-notice #cookie-notice-confirmed {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 0.2em 0.5em;
  border: 1px solid white;
  cursor: pointer;
}

.cookie-notice #cookie-notice-confirmed:hover {
  background-color: white;
  color: black;
}
